<div class="chart">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [colors]="pieChartColors"
            [legend]="pieChartLegend">
    </canvas>
  </div>
  <div class="divider"></div>
  <div class="text-center">
    <b >Treatment Local :{{childMessage_TL}}</b> <br>
    <b>Treatment Foreign :{{childMessage_TF}}</b>
  </div>