
<div class="social-box">
    <div class="container">
        <div class="well  bg-dark text-center text-white"><h1>Current Situation of Sri Lanka</h1></div>
     	<div class="row">
			 
			    <div class="col-lg-4 col-xs-12 text-center">
					<div class="box ">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title ">
							<h1>{{local_new_cases}}</h1>
						</div>
						<div class="box-text ">
							<span><h5>New Local Cases</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12  text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h1>{{local_total_cases}}</h1>
						</div>
						<div class="box-text">
							<span><h5>Total Number of Local Cases</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h1>{{local_total_number_of_individuals_in_hospitals}}</h1>
						</div>
						<div class="box-text">
							<span><h5> Number of Individuals in Hospitals</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h1>{{local_deaths}}</h1>
						</div>
						<div class="box-text">
							<span><h5>Local Deaths</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h1>{{local_new_deaths}}</h1>
						</div>
						<div class="box-text">
							<span><h5>Local New Deaths</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h1>{{local_recovered}}</h1>
						</div>
						<div class="box-text">
							<span><h5>Local Recovered</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>
		
        </div>
        <div class="row">
            <div class="col-lg-7 col-xs-12 text-center ">
                <div >
                    <div class=" box bg-light" ><app-pie-chart-component></app-pie-chart-component></div> 
                 </div>
            </div>
            <div class="col-lg-5 col-xs-12 text-center ">
                <div >
                    <div class=" box bg-light" ><app-bar-chart></app-bar-chart></div> 
                 </div>
            </div>
        </div>	
        
        <div class="row">
            <div class="col-lg-12 col-xs-12 text-center ">
                <div >
                    <div class=" box bg-light" ><app-line-chart></app-line-chart></div> 
                 </div>
            </div>
            
        </div>	
    </div>
</div>




<!--"update_date_time": "2020-04-02 11:15:57",
"local_new_cases": 2,
"local_total_cases": 148,
"local_total_number_of_individuals_in_hospitals": 231,
"local_deaths": 3,
"local_new_deaths": 0,
"local_recovered": 21,
"local_active_cases": 124,-->

<div class="social-box">
    <div class="container">
        <div class="well  bg-dark text-center text-white"><h1>Current Situation Global </h1></div>
     	<div class="row">
           
			    <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h1>{{global_new_cases}}</h1>
						</div>
						<div class="box-text">
							<span><h5>New Global Cases</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12  text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h1>{{global_total_cases}}</h1>
						</div>
						<div class="box-text">
							<span><h5>Total Number of Global Cases</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h1>{{global_deaths}}</h1>
						</div>
						<div class="box-text">
							<span><h5> Number of Global Deaths</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h1>{{global_recovered}}</h1>
						</div>
						<div class="box-text">
							<span><h5>Global Recovered</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{update_date_time}}</a>
						</div>
					 </div>
				</div>	 
				
				 
		
        </div>
        <div class="row">
            <div class="col-lg-7 col-xs-12 text-center ">
                <div >
                    <div class=" box bg-light" ><app-pie-chart-component2></app-pie-chart-component2></div> 
                 </div>
            </div>
            <div class="col-lg-5 col-xs-12 text-center ">
                <div >
                    
                    <div class=" box bg-light" ><app-line-chart1></app-line-chart1></div> 
                 </div>
            </div>
        </div>		
    </div>
</div>

<!--hospital-->

<div class="social-box">
    <div class="container">
        <div class="well  bg-dark text-center text-white"><h1>Current Situation of Sri Lankan Hospitals </h1></div>
       <!-- <div *ngFor="let info of xx">
            {{info.cumulative_local}} {{info.hospital.name}}{{info.hospital.name_si}}<br>
         </div> -->
        <div class="row"  >
           
			    <div class="col-lg-4 col-xs-12 text-center" *ngFor="let info of xx index as i">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h2>{{info.hospital.name_si}}</h2>
						</div>
						<div class="box-text">
							<span><h5>{{info.hospital.name}}</h5></span>
						</div>
						<div class="box-btn">
						    <a href="#">Updated date time : {{info.created_at}}</a>
                        </div>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h5 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                  Click View Details</a>
                                </h5>
                              </div>
                              <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body"><ul class="list-group">
                                    <li class="list-group-item bg-warning">
                                    <h5>Treatment Total : {{info.treatment_total}} <br></h5>
                                    <h5>Cumulative Total : {{info.cumulative_total}}</h5>
                                    </li>
                                    <!--passing data from Parent to child   this.xx.cumulative_local,this.xx.cumulative_foreign-->
                                    <li class="list-group-item">
                                      <app-pie-chart-component3 [childMessage_CL]="info.cumulative_local" [childMessage_CF]="info.cumulative_foreign"></app-pie-chart-component3>
                                    </li>
                                    <li class="list-group-item">
                                        <app-pie-chart-component4 [childMessage_TL]="info.treatment_local" [childMessage_TF]="info.treatment_foreign"></app-pie-chart-component4>
                                    </li>
                                  </ul></div>
                              </div>
                            </div>
                            
                          </div>
					 </div>
				</div>	 
						
    </div>

    <!--Line chart-->
    <div class="row">
        <div class="col-lg-12 col-xs-12 text-center ">
            <div >
                <div class=" box bg-light" ><app-bar-chart1></app-bar-chart1></div> 
             </div>
        </div>
        
    </div>	
</div>
